.pv-header {
  width: 100vw;
  height: 100px;
  position: absolute;
  min-width: 950px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: linear-gradient(27deg, #0700b8 0%, #00ff88 100%);
}

.pv-header-row {
  color: white;
  height: 100px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mansalva, sans-serif;
}

.pv-search-field {
  border-radius: 50px;
  border: #00ff88 1px solid;
}

.pv-search-field-placeholder {
  padding: 0 15px;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: lighter;
}
