.pv-content-container {
  padding-top: 20px;
}

.mat-card-title {
  padding-top: 60px;
}

.mat-toolbar {
  padding-top: 50px;
  height: 150px;
  background-color: #f6faf6;
}

.pv-planet-paginator {
  padding-top: 80px;
  background-color: #f6faf6;
}

.pv-planet-filter {
  margin-top: 84px;
  margin-left: 10px;
  width: 166px;
  padding: 10px 20px;
  font-size: 12px;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  border-radius: 50px;
  border: 1px solid #717371;
  outline: none;
}
