.pv-content-container {
  padding: 30px 60px;
}

.mat-toolbar {
  padding-top: 50px;
  height: 150px;
  background-color: #f6faf6;
}

.pv-nav-go-back {
  padding-top: 80px;
  background-color: #f6faf6;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pv-planet-icon {
  padding-left: 10px;
  padding-right: 6px;
}
